.glass {
    position: absolute;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    top: auto;
}

.crop-img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3 !important;
    object-fit: cover;
    /* Ajusta a imagem para cobrir o espaço sem distorção */
}