// styles/globals.scss
@import 'node_modules/bootstrap/scss/bootstrap';

[data-bs-theme="light"] {
    background-color: aliceblue;
    /* Seus estilos aqui */
  }

  :root {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #212529;
  }

   .text-red {
    color: #F60838;
  }

  #bg-code {
    background: url("/bg1.jpg");
    background-size: cover;
  }