// styles/globals.scss
@import 'node_modules/bootstrap/scss/bootstrap';

[data-bs-theme="light"] {
    background-color: aliceblue;
    /* Seus estilos aqui */
  }

  :root {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #2A2F35;
  }


  .bg-dark-900 {
    background-color: #1B1F24;
  } 

  .text-red {
    color: #F60838;
  }